<INPUT TYPE = "Text" Name = "movieSearch">
<button class="btn btn-primary searchMovie">Search</button>

<table class="table table-striped" style=margin-top:50px>
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Summary</th>
      <th scope="col">Release Year</th>
      <th scope="col">Rating</th>
      <th scope="col">Box Office</th>
    </tr>
  </thead>
  <tbody>
      {% for line in x %}
        <tr>
            <td><button class="btn btn-primary movieFav">Fav</button></td>
            <th scope="row">{{line[0]}}</th>
            <td>{{line[1]}}</td>
            <td>{{line[2]}}</td>
            <td>{{line[3]}}</td>
            <td>{{line[4]}}</td>
            <td>{{line[5]}}</td>
         </tr>
       {% endfor %}

  </tbody>
</table>




<script>
$(".movieFav").click(function(e) {
  e.preventDefault();
  $.ajax({
         type: "POST",
         url: '/FavMovies',
         data: {"movieID":$(this).parent().next('th').text()},
         success: function(data)
         {
            alert(data);
         }
       });
   });

   $(".searchMovie").click(function(e) {
        e.preventDefault();
        $.ajax({
               type: "Get",
               url: '/SearchMovies',
               data: {"query": $(this).getElementByName('movieSearch')},
               success: function(data)
               {
                  alert(data);
               }
             });
     });

</script>
