  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Release Year</th>
      <th scope="col">Rating</th>
    </tr>
  </thead>
  <tbody>
      {% for line in x %}
        <tr>
            <td><button class="btn btn-primary movieFav">Fav</button></td>
            <th scope="row">{{line[0]}}</th>
            <td>{{line[1]}}</td>
            <td>{{line[2]}}</td>
            <td>{{line[3]}}</td>
         </tr>
       {% endfor %}

  </tbody>
  <script>
  $(".movieFav").click(function(e) {
    e.preventDefault();
    $.ajax({
           type: "POST",
           url: '/FavMovies',
           data: {"movieID":$(this).parent().next('th').text()},
           success: function(data)
           {
              alert(data);
           }
         });
     });
     </script>
