  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Summary</th>
      <th scope="col">Release Year</th>
      <th scope="col">Rating</th>
      <th scope="col">Box Office</th>
    </tr>
  </thead>
  <tbody>
      {% for line in x %}
        <tr>
            <td><button class="btn btn-primary movieFav">Fav</button></td>
            <th scope="row">{{line[0]}}</th>
            <td>{{line[1]}}</td>
            <td>{{line[2]}}</td>
            <td>{{line[3]}}</td>
            <td>{{line[4]}}</td>
            <td>{{line[5]}}</td>
         </tr>
       {% endfor %}

  </tbody>
