   <!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Movie Explorer</title>

  <!-- Bootstrap core CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/css/simple-sidebar.css" rel="stylesheet">

    <div class="login-form">
        <form action="/predictBox" method="post" id="predictForm">
            <h2 class="text-center">Rating Predictor</h2>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Director-firstname" name="DirectorF" required="required">
            </div>
                        <div class="form-group">
                <input type="text" class="form-control" placeholder="Director-lastname" name="DirectorL" required="required">
            </div>
                    <div class="form-group">
                <input type="text" class="form-control" placeholder="Actor1-firstname" name="Actor1F" required="required">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Actor1-lastname" name="Actor1L" required="required">
            </div>
                <div class="form-group">
                <input type="text" class="form-control" placeholder="Actor2-firstname" name="Actor2F" required="required">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Actor2-lastname" name="Actor2L" required="required">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Predict</button>
            </div>
        </form>
        <h3>Prediction: {{prediction}}</h3>
    </div>
      <div class="container-fluid" id='MainBox'>
      </div>
    </div>


<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script>


$("#predictBox").submit(function(e) {
  e.preventDefault();
  $.ajax({
         type: "POST",
         url: '/predictBox',
         data: predictForm,
         success: function(data)
         {
            alert(data);
         }
       });
   });

</script>
