<head>
    <div class="page-header">
        <h2>Welcome {{username}}</h2>
    </div>
 </head>

<body>
    <div class="movie-header" style=margin-bottom:50px>
        <h4>Your favorite movie: {{title}}, Released:{{rYear}}, Rating:{{rating}}</h4>
    </div>
    <div class="actor-header" style=margin-bottom:50px>
        <h4>Your favorite actor: {{actor}}</h4>
    </div>
    <div class="actor-header" style=margin-bottom:50px>
        <h4>Your movie recomendation:</h4>
        <!-- <a class="btn btn-primary" id="getRec" href="/getRec">Your recommendation:</a> -->
        <p> {{recMovie}}</p>
    </div>
    <a class="btn btn-primary" id="deleteUser" href="/DeleteUser">Delete User</a>
</body>
